tmp/
managed_components/
build/
.vscode/
# .devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd

# micropython_src/  # Should not be ignored - contains MicroPython integration
build_native/
build_spotpear/
